<footer
  class="text-black bg-white px-3 py-5 flex flex-col z-50 md:grid md:grid-cols-3"
>
  <div>
    <h1>{{ "footer.contact" | translate }}</h1>
  </div>
  <div>
    <h1>{{ "footer.links" | translate }}</h1>
    <ul class="flex flex-col text-sm ml-2">
      <li><a target="_parent" href="http://www.amazon.com/shops/purellisbrandz">Amazon Store</a></li>
      <li><a href="">Instagram</a></li>
      <li><a href="">Facebook</a></li>
      <li><a href="">TikTok</a></li>
      <li><a href="">Linkedin</a></li>
      <li><a href="">Website</a></li>
      <li><a href="">Youtube</a></li>
    </ul>
  </div>
  <div>
    <h1>{{ "footer.method_pay" | translate }}</h1>
    <ul class="flex items-center space-x-2 text-sm ml-2">
      <li>
        <img
          class="object-scale-down"
          width="40"
          height="40"
          ngSrc="/assets/icons/apple-pay.png"
          alt=""
        />
      </li>
      <li>
        <img
          class="object-cover"
          width="40"
          height="40"
          ngSrc="/assets/icons/google-pay.png"
          alt=""
        />
      </li>
      <li>
        <img
          class="object-cover"
          width="40"
          height="40"
          ngSrc="/assets/icons/visa.png"
          alt=""
        />
      </li>
      <li>
        <img
          class="object-cover"
          width="40"
          height="40"
          ngSrc="/assets/icons/mastercard.png"
          alt=""
        />
      </li>
    </ul>
  </div>
  <div class="flex col-span-3 flex-col items-center justify-center">
    <small>&copy; Virtual Hollow. &copy; Purellis Brands. 2023</small>
  </div>
</footer>
