<section class="bg-forestGreen-traditional h-[100vh] grid grid-cols-2">
  <div
    class="text-white font-bold text-5xl w-full flex flex-col h-full items-center justify-center overflow-hidden"
  >
    <p>{{ "prop2.title" | translate }}</p>
  </div>
  <div class="w-full h-full relative overflow-hidden">
    <img
      class="object-cover overflow-hidden"
      ngSrc="/assets/img/DSC09920.jpg"
      fill
      alt=""
    />
  </div>
</section>
<section class="bg-desert-sand h-[50vh] grid grid-cols-2">
  <div class="w-full h-full relative overflow-hidden">
    <img
      class="object-cover overflow-hidden"
      ngSrc="/assets/img/DSC00267.jpg"
      fill
      alt=""
    />
  </div>
  <div
    class="text-white font-bold text-5xl w-full flex flex-col h-full items-center justify-center overflow-hidden"
  >
    <p>{{ "prop2.p1" | translate }}</p>
  </div>
</section>
<section class="bg-forestGreen-traditional h-[50vh] grid grid-cols-2">
  <div
    class="text-white font-bold text-5xl w-full flex flex-col h-full items-center justify-center overflow-hidden"
  >
    <p>{{ "prop2.p2" | translate }}</p>
  </div>
  <div class="w-full h-full relative overflow-hidden">
    <img
      class="object-cover overflow-hidden"
      ngSrc="/assets/img/DSC00189.jpg"
      fill
      alt=""
    />
  </div>
</section>
<section class="bg-desert-sand h-[50vh] grid grid-cols-2">
  <div class="w-full h-full relative overflow-hidden">
    <img
      class="object-cover overflow-hidden"
      ngSrc="/assets/img/DSC00369.jpg"
      fill
      alt=""
    />
  </div>
  <div
    class="text-white font-bold text-5xl w-full flex flex-col h-full items-center justify-center overflow-hidden"
  >
    <p>{{ "prop2.p3" | translate }}</p>
  </div>
</section>
<section class="bg-forestGreen-traditional h-[50vh] grid grid-cols-2">
  <div
    class="text-white font-bold text-5xl w-full flex flex-col h-full items-center justify-center overflow-hidden"
  >
    <p>{{ "prop2.p4" | translate }}</p>
  </div>
  <div class="w-full h-full relative overflow-hidden">
    <img
      class="object-cover overflow-hidden"
      ngSrc="/assets/img/DSC00333.jpg"
      fill
      alt=""
    />
  </div>
</section>
<section class="bg-desert-sand h-[50vh] grid grid-cols-2">
  <div class="w-full h-full relative overflow-hidden">
    <img
      class="object-cover overflow-hidden"
      ngSrc="/assets/img/DSC00382.jpg"
      fill
      alt=""
    />
  </div>
  <div
    class="text-white font-bold text-5xl w-full flex flex-col h-full items-center justify-center overflow-hidden"
  >
    <p>{{ "prop2.p5" | translate }}</p>
  </div>
</section>
<div
  class="hidden grid-cols-6 grid-rows-4 col-start-1 row-start-1 row-end-2 col-end-3"
>
  <div
    class="bg-desert-sand bubble w-64 h-64 rounded-full flex flex-col items-center text-center justify-center text-white text-3xl font-extrabold"
  >
    Anti Acne
  </div>
  <div
    class="bg-desert-sand bubble w-64 h-64 rounded-full flex flex-col items-center text-center justify-center text-white text-3xl font-extrabold"
  >
    Skin Brightener
  </div>
  <div
    class="bg-desert-sand bubble w-64 h-64 rounded-full flex flex-col items-center text-center justify-center text-white text-2xl font-extrabold"
  >
    Clears up hyperpigmentation
  </div>
  <div
    class="bg-desert-sand bubble w-64 h-64 rounded-full flex flex-col items-center text-center justify-center text-white text-3xl font-extrabold"
  >
    Reduces Dark Circle
  </div>
  <div
    class="bg-desert-sand bubble col-start-3 w-64 h-64 rounded-full flex flex-col items-center justify-center text-white text-3xl font-extrabold"
  >
    Imparts radiance
  </div>
</div>
